.full_bg {
	background-color: black; 
		.fontwhitetext{
		color:white;
		}
        .bg_grey {
            background-color: #ffffff;
            opacity: 0.9;
        }
        .bg_pope {
            background-image: url("../img/pope.png");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;        
        }
        .bg_white{
        	.cardtop {
        	margin-top:70%;
        	}
			.display-flex {
			  display: flex;
			  flex-wrap: wrap;
			}        	
        	background-color: white;
        	p {
  				color: black;
			}
			.stylecol8{
			    background-color: #c1bbbb;
		    }
		    .stylevotes{
				margin-right: auto;
			    margin-left: auto;
			    margin-top: 4%;		    
		    }
		    .bg_botton {
	        	background:linear-gradient(bottom, gray, transparent);
				background:-webkit-linear-gradient(bottom, gray, transparent);
				background:-moz-linear-gradient(bottom, gray, transparent);
				background:-o-linear-gradient(bottom, gray, transparent);
				background:-ms-linear-gradient(bottom, gray, transparent);   
			}
		    .kaybg{
	            background-image: url("../img/Layer13.png");
	            background-repeat: no-repeat;
	            background-size: cover;
	            height: 100%; 	    
		    }
		    .markbg{
	            background-image: url("../img/Mark.png");
	            background-repeat: no-repeat;
	            background-size: cover;
	            background-position: right;
	            height: 100%; 		    
		    }
		    .cristinabg{
	            background-image: url("../img/Layer12.png");
	            background-repeat: no-repeat;
	            background-size: cover;
	            background-position: right;
	            height: 100%; 		    
		    }
		    .malalabg{
	            background-image: url("../img/Layer14.png");
	            background-repeat: no-repeat;
	            background-position: right;
	            background-size: cover;
	            height: 100%; 		    
		    }
		    .backgroundradioup{ 
		    	background-color:#4cafa9;
		    }
		    .backgroundradiodown{ 
		    	background-color:#c39b2f;
		    }		    
			/* HIDE RADIO */
			[type=radio] { 
			  position: absolute;
			  opacity: 0;
			  width: 0;
			  height: 0;
			}

			/* IMAGE STYLES */
			[type=radio] + img {
			  cursor: pointer;
			}

			/* CHECKED STYLES */
			[type=radio]:checked + img {
			  outline: 2px solid white;
			}		    		    		    		    
        }
        .bg_gradient {
        	background:linear-gradient(top, gray, transparent);
			background:-webkit-linear-gradient(top, gray, transparent);
			background:-moz-linear-gradient(top, gray, transparent);
			background:-o-linear-gradient(top, gray, transparent);
			background:-ms-linear-gradient(top, gray, transparent);   
		}

		p {
  			color: white;
		}
		h1 {
  			color: white;
		}
		a {
  			color: white;
  			padding-left: 40%;
		}
		.headerpadding {
			padding-top:4%;
			padding-botton:30%;
		}
		.headerpaddingh1 {
			padding-top:2%;
			padding-botton:30%;
		}
		.popetext{
			margin-top: 7%;
    		background: gray;
    		margin-left: 11%;
    		opacity: 0.9;
    		padding-left:0%;
    		padding-right:0%;
			p {
				font-size: 20px;
				padding-top: 5%;
				padding-left:4%;
				padding-right:4%;
  				color: white;
			}
			h1 {
  				color: white;
  				font-size:3.5rem;
  				padding-left:4%;
  				padding-right:4%;
			}
			h3 {
  				color: white;
  				padding-left:4%;
  				padding-right:4%;
			}	    		
    	}
		.block {
		  display: block;
		  width: 50%;
		  border: none;
		  background-color: #4cafa9;
		  color: white;
		  padding: 14px 28px;
		  font-size: 16px;
		  cursor: pointer;
		  text-align: center;
		  padding-left: 0%;
		  min-width: 30%;
		  max-width: 70%;
		}
		.block2 {
		  display: block;
		  width: 50%;
		  border: none;
		  background-color: #c39b2f;
		  color: white;
		  padding: 14px 28px;
		  font-size: 16px;
		  cursor: pointer;
		  text-align: center;
		  padding-left: 0%;
		  min-width: 30%;
		  max-width: 70%;		  
		}
		.rownomargin	{
    		flex-wrap: wrap;
    		display: flex;
		}	
		.margin-5top {
			margin-top:5%;
			p {
				padding-top: 4%;
  				color: white;
  				padding-right: 2%;
			}
			h2 {
  				color: black;
  				padding-left:2%;
  				padding-top:2%;
			}
			.bg_gray_transparent	{
				background-color: gray;
				opacity: 0.5;
				border: 1px solid gray;
      			position: relative;
			}

			.bg_gray_transparent:before{
			      content: "";
			      position: absolute;
			      right: 0px;
			      bottom: 0;
			      width: 0;
			      height: 0;
			      border-left: 20px solid gray;
			      border-top: 20px solid transparent;
			      border-bottom: 20px solid transparent;
			}			

			.bg_white_transparent	{
				background-color: white;
				opacity: 0.5;
				position: relative;
			}

			.bg_white_transparent:after	{
		      content: "";
		      position: absolute;
		      left: 0;
		      bottom: 0;
		      width: 0;
		      height: 0;
		      border-left: 20px solid gray;
		      border-top: 20px solid transparent;
		      border-bottom: 20px solid transparent;
			}
									
		}
		
}



